[submodule "cpp/lib/libuv"]
	path = cpp/lib/libuv
	url = https://github.com/libuv/libuv
[submodule "cpp/lib/catch"]
	path = cpp/lib/catch
	url = https://github.com/philsquared/Catch.git
[submodule "cpp/lib/json"]
	path = cpp/lib/json
	url = https://github.com/nlohmann/json.git
[submodule "python/lib/pybind11"]
	path = python/lib/pybind11
	url = https://github.com/pybind/pybind11.git
